.bg-home{
    background-image: url('../../images/bg-home.png');
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.button-home{
    width: 50% !important;
    border-radius: .5rem !important;
    background-color:  #48d1ff !important;
    color: #063bbc !important;
    border-color: transparent !important;
    transition: .5s all ease !important;
    padding: 1rem 0 !important;
}
.button-home:hover , .button-home:focus{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .5) !important;
}
.box-button-home a{
    width: 100% !important;
    color: #063bbc !important;
}
.box-button-home a:hover{
    text-decoration: none !important;
}
.box-button-home{
    padding-top: 5rem !important;
}
.box-text-home{
    background-color: #063bbc !important;
    color: #fff !important;
    width: fit-content !important;
    margin: 5rem auto !important;
    border-radius: 1rem !important;
}

/* this class is for show map */
.handle-w-h{
    width: 100vw !important;
    height: 100vh !important;
}

@media only screen and (max-width: 992px) {
    .bg-home{
        background-size: cover;
    }
    .button-home{
        width: 95% !important;
    }
    .box-text-home{
        margin-top: 10rem !important;
    }
}